<!DOCTYPE html>
<html xmlns:fb="">

    <body>

    <div id="statistics" class="widget">

        <ul class="tabnav">
          <li><a href="#HomeTown">HomeTown</a></li>
          <li><a href="#Gender">Gender</a></li>
          <li><a href="#Relationship">Relationship</a></li>
          <li><a href="#Emotion">Emotion</a></li>
        </ul>

      <div id="HomeTown" class="tabdiv">
        <p></p>
      </div>

      <div id="Gender" class="tabdiv">
        <p></p>
      </div>

      <div id="Relationship" class="tabdiv">
        <p></p>
      </div>

      <div id="Emotion" class="tabdiv">
        <p></p>
      </div>

    </div>


    <div id="likecommentlist" class="like_comment_style">

      <ul class="tabnav">
        <li><a href="#Likes">Likes</a></li>
        <li><a href="#Comments">Comments</a></li>
      </ul>

      <div id="Likes" class="like_style">
        <p></p>
      </div>

      <div id="Comments" class="like_style">
        <p></p>
      </div>

    </div>

    </body>

<%= javascript_include_tag 'fb_photos' %>


<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script language="javascript" type="text/javascript">

    isGoogleLoaded = false;
    isFBLoaded = false;

    google.load('visualization', '1', {'packages':['corechart']});
    google.setOnLoadCallback(function(){
        isGoogleLoaded = true;
        console.debug("Google Loaded");
        if(isFBLoaded){
            console.debug("Google & FB Loaded");
            getuserlikes(<%=@photo_id%>, "<%=@photo_name.html_safe%>", <%=@photo_from%>, "<%=@photo_source.html_safe%>");
        }
    });

    $(document).bind("onFacebookReady",function(){

        FB.getLoginStatus(
                function(response) {
                    if (response.status === "connected") {
                        console.debug("FB Loaded");
                        isFBLoaded = true;
                        if(isGoogleLoaded){
                            console.debug("Google & FB Loaded");
                            getuserlikes(<%=@photo_id%>, "<%=@photo_name.html_safe%>", <%=@photo_from%>, "<%=@photo_source.html_safe%>");
                        }

                    } else if (response.status === "not_authorized") {
                        //user is currently logged in to facebook, but has not authorized this app
                    } else {
                        //user is not logged in to facebook
                    }
                }
        );

    });

</script>