<!DOCTYPE html>
<html xmlns:fb="">
    <head>
      <title>Social Energy Map</title>

      <%= csrf_meta_tag %>
      
      
      <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
      
      <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
      <%= stylesheet_link_tag    "application", :media => "all" %>

    </head>


    <body>

        <h1 id="banner"><%= @page_title || "Social Energy Map" %></h1>
        
        <div id="sidebar">
            <div id="navigation">
              <ul>
                <li>
                    <a style="text-align:center">
                        <fb:login-button autologoutlink="true" onclick = "OnRequestPermission();" perms="user_likes, user_photos, friends_likes, friends_photos, user_location, friends_location, user_hometown, friends_hometown">
                        </fb:login-button>
                    </a>
                </li>
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
              </ul>
            </div>
        </div>

        
        <div id="fb-root"></div>
        <%= yield %>
        
      <%= javascript_include_tag "application" %> 
      <script src="http://connect.facebook.net/en_US/all.js"></script>

    </body>
</html>